@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoThin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoLight.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoRegular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoMedium.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoBold.ttf) format("truetype");
  font-weight: 700;
}

$zero: 0px;
$white: white;

* {
  padding: $zero;
  margin: $zero;
  border: $zero;
  font-size: $zero;
}

@mixin wh($width, $height) {
  width: $width+px;
  height: $height+px;
}

@mixin top_left($margin-top, $margin-left) {
  top: $margin-top+px;
  left: $margin-left+px;
}

@mixin i-block() {
  display: inline-block;
  vertical-align: top;
}

@mixin border-radius($values) {
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  -o-border-radius: $values;
  -ms-border-radius: $values;
  border-radius: $values;
}

body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.428571429;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.cl-fix:after {
  display: block;
  content: '';
  clear: both;

}

select, input {
  display: inline-block;
  @include border-radius(23px);
  font-family: 'Roboto', sans-serif;
  width: 210px;
  display: inline-block;
  padding: 20px 35px;
  border: 2px solid #3a94a7;
  background: transparent;
  outline: none;
  color: #292929;
  font-size: 16px;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;

}

.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url('../img/top-nav.png') repeat-x scroll 0px 0px transparent;
  height: 64px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  z-index: 100000;
  line-height: 1;

  &__wrapper {
    width: 380px;
    margin: 0 auto;
  }

  &__discount {
    float: left;
    /*background-color: #a20e0e;*/
    padding: 17px 22px 9px 52px;
    padding-left: 42px;
    height: 38px;
    position: relative;
    margin-left: 40px;
  }

  &__discount:before {
    position: absolute;
    display: block;
    @include wh(52, 53);
    float: left;
    top: 0px;
    left: -30px;
    content: '';
    background: url("../img/sale.png") no-repeat;

  }

  &__discount span {

    display: inline-block;
    color: #ff0000;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;

  }

  &__discount b {

    display: inline-block;
    color: #ff0000;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
  }

  &__price {
    display: none;

  }

  &__old-price, &__new-price {
    display: block;
    text-align: center;
    float: left;
    margin-left: 200px;
    padding-right: 25px;
    border-right: 1px solid #fff;
  }

  &__new-price {
    margin-left: 25px;

  }

  &__old-price small, &__new-price small {
    display: inline-block;
    text-transform: uppercase;
    color: #888c8d;
    font-weight: 1400;
    margin-bottom: 4px;
    font-size: 14px;

  }

  &__new-price small {
    color: #cc0000;

  }

  &__old-price span, &__new-price span {
    display: block;
    text-transform: uppercase;
    color: #888c8d;
    font-weight: 800;
    font-size: 27px;

  }

  &__new-price span {
    color: #fff;
    font-weight: 500;
  }

  &__timer_wrap {
    float: left;
    width: 180px;
    height: 60px;
    margin-top: 10px;
    margin-left: -3px;
    color: #fff;
    font-size: 14px;

    small {
      display: block;
      margin-left: 39px;
      font-size: 11px;
      font-weight: 300;
      color: #fff;
      margin-top: -1px;
      margin-bottom: 5px;
    }

    .timer-wrapper {
      display: block;
    }

    .timer, .last_section .timer .highlight {
      /*   font-family: Helvetica, Arial, sans-serif;*/
      font-size: 16px;
      font-weight: normal;
      color: #000;

    }

    .hours, .min, .sec {
      display: block;
      font-size: 19px;
      color: #000;
      @include wh(30, 30);
      line-height: 31px;
      @include border-radius(6px);
      margin-left: 16px;
      margin-right: 7px;
      background: #fff;
      text-align: center;
      float: left;
      position: relative;
    }

    .hours::after, .min::after, .sec::after {
      position: absolute;
      @include top_left(-2, 22);
      @include wh(40, 40);
      font-weight: 700;
      content: ':';
      color: #fff;
      font-size: 16px;
      text-align: center;
      float: right;

    }

    .sec:last-child:after {
      display: none;
    }

  }

}

.block-01 {
  background: url("../img/bl_01_bg.png") center 63px no-repeat;
  height: 535px;
  padding-top: 100px;
  position: relative;
  text-align: center;

}

.s1-title {
  display: inline-block;
  width: 310px;
  text-align: center;

  &__tovar-name {

    display: inline-block;
    font-size: 48px;
    font-weight: 100;
    color: #fff;
    position: relative;
    margin-bottom: 0;

  }

  sup {
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    top: 0px;
    right: -10px;
    position: absolute;

  }

  small {
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__frase-01, &__frase-02 {
    display: inline-block;
    background: url("../img/sec1_nav.png") repeat-x;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 268px;
    color: #fff;
  }
}

.block-02 {
  position: relative;
  text-align: center;
}

.s2-container {
  width: 100%;
  padding-bottom: 70px;
  /*  margin-left: 115px;*/
}

.s2 {
  &__item {
    width: 250px !important;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;

    .description {
      width: 250px;
      display: inline-block;
    }

  }

  &__item:first-child .description {
    margin-left: -8px;
  }


  &__item:last-child .description {
    margin-left: 4px;

    p {
      margin-left: 4px;
    }

  }


  &__item img {

    display: inline-block;
    margin-bottom: 40px;
    width: 120px;
  }

  &__item span {
    color: #2d8da2;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 10px;
  }

  &__item p {
    color: #000;
    font-weight: 100;
    font-size: 18px;
    display: inline-block;
  }

}

.block-03 {
  background: #fff url("../img/bl_03_bg.png") center top no-repeat;
  /*  height: 1190px;*/
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.block-03::after {
  position: absolute;
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  border-w: 0 0px 50px 100%;
  width: 0;
  height: 0;
  bottom: 0;
  z-index: 10000;
}

.s3-upper {
  margin-bottom: 30px;

}

.s3-upper_item {
  text-align: center;
  width: 100%;

  &__title {
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;

  }

  &__text {

    display: none;

  }

  &__arrow-img {
    display: block;
    float: left;
    width: 55px;
  }

  img {
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 30px;

  }

  &__text02 {
    width: 280px;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-weight: 100;
    color: #000;
    margin-bottom: 30px;
    margin-left: -20px;
  }

  &__price-block {

    display: inline-block;
    margin-bottom: 10px;
    margin-left: -20px;
  }

  &__old-price, &__new-price {
    padding-top: 0;
    float: left;
    display: block;
    text-transform: uppercase;
    color: #888c8d;
    font-weight: 100;
    font-size: 14px;
    margin-right: 15px;
  }

  &__new-price {
    margin-right: 0;
  }

  &__old-price small, &__new-price small {
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    color: #288592;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: -5px;
  }

  &__new-price small {
    color: #cc0000;

  }

  &__old-price span, &__new-price span {

    display: block;
    text-transform: uppercase;
    color: #288592;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 0.3;

  }

  &__new-price span {
    color: #cc0000;
    font-weight: 500;
  }

  img {
    display: inline-block;
    margin-right: 15px;
  }

  .btn {

    display: inline-block;
    width: 290px;
    height: 63px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    -ms-border-radius: 23px;
    border-radius: 23px;
    border: 1px solid #fff;
    background: url("../img/s3-btn.png") 0 -15px no-repeat;
    color: #fff;
    font-size: 30px;
    line-height: 63px;
    font-weight: 100;
    margin-left: -25px;

  }

  .btn:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);

  }
}

.s3-upper {
  margin-left: 20px;

}

.s3-upper_item:nth-child(2) {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-right: 100px;

}

#sld2 .flex-direction-nav a {
  display: none;

}

.s3-lower {

  margin-top: 20px;
  width: 100%;
  height: 320px;

  &__item {
    display: none;
    float: left;
    width: 225px;
    margin-right: 0px;

    p {
      float: left;
      width: 170px;
      color: #000;
      font-size: 14px;
      margin-left: -15px;
    }

    .flex-direction-nav a {
      display: none;
    }

  }

  &__item .image {
    display: block;
    @include wh(135, 135);
    @include border-radius(50%);
    background: #2d8ca1; /* Old browsers */
    background: -moz-linear-gradient(top, #2d8ca1 0%, #49cdea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2d8ca1 0%, #49cdea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2d8ca1 0%, #49cdea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -ms-linear-gradient(bottom, #2d8ca1 0%, #49cdea 100%);
    line-height: 150px;
    position: relative;
    margin-bottom: 25px;
  }

  &__item .image:after {
    position: absolute;
    display: block;
    @include wh(66, 33);
    float: right;
    top: 50px;
    right: -75px;
    content: '';
    background: url("../img/s3-lp-arrow.png") no-repeat;
    z-index: 100;
  }

  &__item:last-child .image:after {
    display: none;
  }

  &__item .image img {
    margin-top: 33px;
    display: inline-block;
    max-width: 50%;
  }

}

.s3-lower-title {
  display: inline-block;
  width: 320px;
  margin-left: -20px;

  small {
    color: #000;
    font-size: 22px;
    display: block;
    margin-left: 9px;
    margin-top: 7px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 10px;

  }

  &__tovar-name {
    display: inline-block;
    font-size: 46px;
    font-weight: 100;
    color: #2e8ea3;
    position: relative;
    margin-bottom: 35px;

  }

  sup {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: #cc0000;
    top: 2px;
    right: -25px;
    position: absolute;

  }
}

.block-04 {
  background: url("../img/bl_04_bg.png") transparent center top no-repeat;
  /*  height: 1520px;*/
  position: relative;
  text-align: center;
  padding-top: 0;
  padding-bottom: 35px;
}

.s4-title {
  display: inline-block;
  padding-top: 30px;
  width: 320px;
  margin-bottom: 20px;

  &__tovar-name {
    display: block;
    font-size: 46px;
    font-weight: 100;
    color: #fff;
    position: relative;
    margin-bottom: 0;

  }

  sup {
    display: block;
    font-size: 14px;
    font-weight: 100;
    color: #cc0000;
    top: -7px;
    right: 12px;
    position: absolute;

  }

  small {
    display: block;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

.s4-upper {
  margin-bottom: 15px;
  display: inline-block;

  &__item {
    width: 300px;
    text-align: center;
    margin-bottom: 0px;
  }

  &__item .image {
    width: 300px;
    margin-bottom: 35px;
    display: inline-block;

    img {
      display: inline-block;
      width: 260px;
    }

  }

  /*  &__item:nth-child(2) {
      margin-top: 22px;

    }*/

  &__item:nth-child(2) .image {
    margin-bottom: 20px;

  }

  span {
    width: 210px;
    display: inline-block;
    color: #000;
    font-size: 20px;
    font-weight: 800;
    /*    margin-left: 52px;*/
    font-style: italic;
    margin-bottom: 20px;
  }

  &__item:nth-child(1) .image img {
    margin-right: 30px;
  }

  &__item:last-child .image img {
    margin-left: 30px;
  }

  /*  &__item:nth-child(1) span {
      margin-left: 97px;

    }

    &__item:nth-child(2) span {
      margin-left: 46px;
    }

    &__item:last-child span {
      margin-left: 12px !important;

    }*/
}

.s4-middle {
  margin-bottom: -10px;

  &__image-red {

    display: inline-block;
    border: 8px solid #d1231f;
    color: #d1231f;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 12px 16px;
    width: 200px;
    margin-left: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    margin-bottom: 35px;
  }
}

.s4-middle-content {
  width: 280px;
  display: inline-block;

  &__row {
    display: table-row;
    height: 80px;
  }

  &__image {
    display: table-cell;
    vertical-align: middle;
    img {
      max-width: 45px;
    }
  }

  &__img-item_01, &__img-item_02, &__img-item_03 {
    margin-right: 4px;
  }


  &__img-item_04 {
    margin-right: 6px;
  }

  p {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    color: #000;
    font-size: 14px;
    font-weight: 800;
    width: 200px;
    padding-left: 20px;
  }

  .s4-middle-content:nth-child(1) {
    margin-left: -30px;
  }
}

/*
.s4-middle-content:last-child {
  margin-left: 70px;

}*/

.s4-lower__title {
  display: inline-block;
  padding-top: 30px;
  width: 300px;
  margin-bottom: 25px;

  &__tovar-name {

    display: block;
    font-size: 46px;
    font-weight: 100;
    color: #3c96a9;
    position: relative;
    margin-bottom: -5px;

  }

  sup {

    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #cc0000;
    top: 0;
    right: 2px;
    position: absolute;

  }

  small {

    display: inline-block;
    font-size: 22px;
    font-weight: 100;
    color: #41bad5;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;

  }
}

.s4-lower {

  &__image {
    display: inline-block;
    width: 280px;
    margin-left: -10px;

    img {
      width: 280px;
      display: inline-block;

    }
  }

  &__image-02 {

    width: 250px !important;
    height: 210px;

  }

}

.block-05 {
  font-size: 0;

  background: url("../img/bl_05_bg.png") transparent center top no-repeat;
  height: 1472px;
  border-bottom: 77px solid #2e8fa5;
  text-align: center;
  padding-top: 25px;

}

.s5-upper-title {
  display: inline-block;
  padding-top: 20px;
  width: 300px;
  margin-bottom: 37px;

  &__tovar-name {

    display: inline-block;
    font-size: 46px;
    font-weight: 100;
    color: #fff;
    position: relative;
    /* margin-bottom: 15px;*/

  }


  sup {

    display: block;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    top: -7px;
    right: -8px;
    position: absolute;

  }


  small {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 25px;
    opacity: .8;

  }
}

.flexslider-wrapper {
  height: 438px;
  margin-bottom: 0;
  font-size: 0;
}

.flexslider-wrapper .width {
  width: 300px;
  margin: 0px auto;
}

.flexslider-wrapper .title {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: rgb(0, 135, 202);
  padding: 70px 0px 40px;
}

.flexslider-wrapper .title div {
  font-size: 32px;
  line-height: 24px;
  color: rgb(238, 73, 73);
  font-weight: 400;
  padding: 0px 0px 5px;
}

.flexslider-wrapper .review {
  width: 300px;
  margin: 0px auto;
  text-align: center;
}

.flexslider-wrapper .review .image {
  display: inline-block;
  @include wh(135, 135);
  @include border-radius(50%);
  background: #2d8ca1; /* Old browsers */
  background: -moz-linear-gradient(top, #2d8ca1 0%, #49cdea 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2d8ca1 0%, #49cdea 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2d8ca1 0%, #49cdea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: -ms-linear-gradient(bottom, #2d8ca1 0%, #49cdea 100%);
  line-height: 135px;
  position: relative;
  margin-bottom: 25px;
}

.flexslider-wrapper .review .img {
  vertical-align: top;
  display: inline-block;
  border-radius: 14px;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.flexslider-wrapper .review .img2 {
  width: 65px;
  vertical-align: top;
  display: inline-block;
  border-radius: 14px;
  margin-top: 30px;
}

.flexslider-wrapper .review .message2 {
  vertical-align: top;
  display: inline-block;
  width: 230px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 0px 18px;
  margin-left: -20px;
}

.flexslider-wrapper .review .message {
  vertical-align: top;
  display: inline-block;
  width: 280px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 0px 18px;
  margin-left: -20px
}

.flexslider-wrapper .review .message .name div {
  padding: 0;
  font-weight: 300;
  font-size: 20px;
  color: #51afb1;
  margin: -8px 0 3px 0;
}

.flexslider-wrapper .flexslider {
  position: relative;
}

.flex-control-nav {
  display: none;
}

.flex-direction-nav a {
  /*  background: url("../img/arrows-slider_a.png") repeat 0 0 transparent;*/
  text-indent: -9999px;
  display: block;
  width: 41px;
  height: 83px;
  top: 30px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}

.flex-direction-nav .flex-prev {
  left: -5px;
  background-position: 0px 0px;
}

.flex-direction-nav .flex-next {
  right: 0px;
  background-position: right 0px;
}

.flex-direction-nav .flex-prev:hover {
  opacity: 0.8;
}

.flex-direction-nav .flex-next:hover {
  opacity: 0.8;
}

.flex-direction-nav2 a {
  background: url("../img/s3-lp-arrow.png") no-repeat 0 0 transparent;
  text-indent: -9999px;
  display: block;
  width: 37px;
  height: 83px;
  top: 57px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}

.flex-direction-nav3 a {
  background: url("../img/arrows-slider_a.png") no-repeat 0 0 transparent;
  text-indent: -9999px;
  display: block;
  width: 32px;
  height: 83px;
  top: 37px;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}

.flex-direction-nav2 .flex-prev {
  left: -5px;
  background-position: 0px 0px;
}

.flex-direction-nav2 .flex-next {
  right: 0px;
  background-position: right 0px;
}

.flex-direction-nav2 .flex-prev {
  left: -5px;
  background-position: 0px 0px;
}

.flex-direction-nav2 .flex-next {
  right: 0px;
  background-position: right 0px;
}

.flex-direction-nav2 .flex-prev:hover {
  opacity: 0.8;
}

.flex-direction-nav2 .flex-next:hover {
  opacity: 0.8;
}

.flex-direction-nav3 .flex-prev {
  left: -5px;
  background-position: 0px 0px;
}

.flex-direction-nav3 .flex-next {
  right: 0px;
  background-position: right 0px;
}

.flex-direction-nav3 .flex-prev {
  left: -5px;
  background-position: 0px 0px;
}

.flex-direction-nav3 .flex-next {
  right: 0px;
  background-position: right 0px;
}

.flex-direction-nav3 .flex-prev:hover {
  opacity: 0.8;
}

.flex-direction-nav3 .flex-next:hover {
  opacity: 0.8;
}

.s5-lower {
  display: inline-block;
  width: 100%;
  height: 698px;
  /*  margin-left: -250px;*/
  background: url("../img/tai_girl.png") center bottom no-repeat;

}

.form-container {
  text-align: center;
  display: inline-block;
  /*  padding-left: 95px;*/
  margin-top: 22px;
  width: 290px;
  /*  background: url("../img/product.png") left top no-repeat;*/

  .form {
    width: 280px;

    .ctr {
      width: 280px !important;
      line-height: 60px;
      height: 60px;
      padding: 0 0;
      padding-left: 28px;
    }

    .phone {
      margin-bottom: 50px;
    }

  }

  .btn {
    padding: 0 0 !important;
    font-family: 'Roboto';
    display: inline-block;
    @include wh(290, 70);
    @include border-radius(23px);
    background: url("../img/s3-btn.png") 0 -17px no-repeat;
    color: #fff;
    font-size: 32px;
    line-height: 62px;
    font-weight: 100;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
  }

  .btn:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  }

}

.s5-lower .s3-upper_item__price-block {
  display: inline-block;
  width: 290px;
  margin-bottom: 35px;

  img {
    width: 60px;
  }
}

.s5-lower .s3-upper_item__old-price span, .s5-lower .s3-upper_item__new-price span {
  font-size: 30px;
}

.s5-lower .s3-upper_item__price-block img {
  width: 55px;
  display: block;
  float: left;
  margin-right: 15px;
}

.s5-middle-title {
  display: inline-block;
  width: 280px;
  margin-bottom: 25px;

  &__slogan {

    color: #2e8fa5;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 5px;
    position: relative;

    sub {
      position: absolute;
      @include top_left(-10, 252);
      color: #2e8fa5;
      font-size: 14px;
      z-index: 100;
      font-weight: 800;
    }

    sub:last-child {
      position: absolute;
      @include top_left(52, 269);
      color: #2e8fa5;
      font-size: 14px;
      z-index: 100;
      font-weight: 100;
    }

    b {
      display: inline-block;

      color: #2e8fa5;
      font-size: 46px;
      font-weight: 100;
      width: 280px;
      margin-bottom: 8px;
    }
  }

  small {
    display: block;
    color: #666;
    font-size: 20px;
    font-weight: lighter;
  }

}

::-webkit-input-placeholder {
  opacity: 1;
  color: #575757 !important;
}

::-moz-placeholder {
  opacity: 1;
}

/*Firefox 19+*/
:-moz-placeholder {
  opacity: 1;
}

/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 1;
  color: #575757 !important;
}

@media only screen and (min-width: 320px) and (max-width: 340px) {
body {
  overflow-x: hidden;
}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .header__wrapper {
    text-align: center;

  }

  .header__discount {
    display: inline-block;
    float: none;
    margin-left: -8px;
  }

  .header__timer_wrap {
    display: none;
  }

}

